%li.list-group-item<
  %strong= page_count_string(subscription_plan)
%li.list-group-item<
  = giveaway_count_string(subscription_plan)
%li.list-group-item<
  = analytics_string(subscription_plan)
%li.list-group-item<
  = schedule_string(subscription_plan)
%li.list-group-item<
  = viral_referrals_string(subscription_plan)
%li.list-group-item<
  = shortlink_string(subscription_plan)
%li.list-group-item<
  = white_label_string(subscription_plan)
