#{@user_first_name},

#{@giveaway.title} has ended and will no longer appear on the #{@giveaway.facebook_page.name} Facebook Page.

Here are some stats from your giveaway promotion:

Main Stats

#{@giveaway.page_likes_while_active} new users liked your page.
#{@giveaway.uniques} people saw the giveaway.
#{@giveaway.entry_count} visitors entered, resulting in an entry rate of #{@giveaway.entry_conversion_rate}.

Viral Stats

#{@giveaway.total_wall_posts} wall posts and #{@giveaway.total_requests} requests were generated.

This viral sharing resulted in #{@giveaway.viral_views} impressions, #{@giveaway.viral_like_count} likes, and #{@giveaway.viral_entry_count} entries.

Great stuff! Now it's time to start planning your next giveaway.

Brian D. and the Giveaway Kit team
