:scss
  #tab_container {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  }

  .btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 30px auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    &:before {
      font-family: 'FontAwesome';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      position: relative;
      -webkit-font-smoothing: antialiased;
    }
  }

  .btn-4 {
    border-radius: 50px;
    border: 3px solid #2dcb71;
    color: #2dcb71;
    overflow: hidden;

    &:before {
      position: absolute;
      height: 100%;
      font-size: 125%;
      line-height: 3.5;
      color: #2dcb71;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
  }

  .btn-4a {

    &:hover {

      &:before {
        left: 80%;
      }
    }

    &:before {
      left: 130%;
      top: 0;
    }
  }

  .giveaway-widget {
    width: 553px;
    min-height: 542px;
    overflow: hidden;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,.2), inset 0 2px 4px rgba(255,255,255,.3);
    position: relative;
    top: 60px;

    .giveaway-image {
      height: 226px;
      overflow: hidden;
    }

    .giveaway-meta {
      padding: 30px 40px 0;

      .giveaway-title {
        color: #324648;
        font-size: 22px;
        font-weight: 600;
        line-height: 16px;
        margin: 0;
        padding-bottom: 10px;

        &:before {
          content: '';
          width: 16px;
          height: 16px;
          display: inline-block;
          margin-right: 30px;
          background-color: #2dcb71;
        }
      }

      .giveaway-prize {
        color: #76888c;
        font-size: 18px;
        font-weight: 300;
        line-height: 18px;
        margin: 0;
        padding-left: 51px;
        padding-bottom: 26px;
      }
    }

    .giveaway-description {
      background-color: #eff2f1;
      padding: 26px 40px 26px;
      margin: 0;

      .description-text {
        padding-left: 99px;
        color: #75898d;
        font-size: 17px;
        font-weight: 300;
        margin: 0;
      }

      .avatar-wrapper {
        width: 67px;
        height: 67px;
        border: 0 none;
        border-radius: 500px;
        overflow: hidden;

        .thumb {

          &.masked.avatar {
            width: 67px;
            height: 67px;
            display: inline-block;
            overflow: hidden;
            background-position: center center !important;
            -webkit-background-size: cover !important;
            background-size: cover !important;
            position: relative;
            left: 0;
            top: 0;
          }
        }
      }
    }

    .giveaway-actions {
      text-align: center;
    }
  }

.giveaway-widget.version-b
  .giveaway-image
    = image_tag @giveaway_hash.giveaway.image_url
  .giveaway-meta
    %h1.giveaway-title
      = @giveaway_hash.giveaway.title
    %h2.giveaway-prize
      = "Win #{@giveaway_hash.giveaway.prize}"
  .giveaway-description
    .pull-left.avatar-wrapper
      %span.thumb.masked.avatar{:style => "background-image: url(#{@giveaway_hash.page_avatar})"}
    %h3.description-text
      = @giveaway_hash.giveaway.description_text
  .giveaway-actions
    - if @giveaway_hash.has_liked
      %button#enter_giveaway.btn.btn-4.btn-4a.fa.fa-arrow-right Enter Giveaway
    - else
      #like_page_button Like
      %button#enter_giveaway.btn.btn-4.btn-4a.fa.fa-arrow-right Enter Giveaway
