.giveaway-widget.version-b
  .giveaway-image
    .hover-panel
      .giveaway-actions
        - if @giveaway_hash.has_liked
          %button#enter_giveaway.btn.btn-4.btn-4a.fa.fa-arrow-right Enter Now
        - else
          #like_page_button Like
          %button#enter_giveaway.btn.btn-4.btn-4a.fa.fa-arrow-right Enter Now
    = image_tag @giveaway_hash.giveaway.image_url
  .giveaway-meta
    %h1.giveaway-title
      = @giveaway_hash.giveaway.title
    %h2.giveaway-prize
      = "Win #{@giveaway_hash.giveaway.prize}"
  .giveaway-description
    .pull-left.avatar-wrapper
      %span.thumb.masked.avatar{:style => "background-image: url(#{@giveaway_hash.page_avatar})"}
    %h3.description-text
      = @giveaway_hash.giveaway.description_text
  .giveaway-actions
    - if @giveaway_hash.has_liked
      %button#enter_giveaway.btn.btn-4.btn-4a.fa.fa-arrow-right Enter Now
    - else
      #like_page_button Like
      %button#enter_giveaway.btn.btn-4.btn-4a.fa.fa-arrow-right Enter Now
