= simple_form_for [giveaway.facebook_page, giveaway], url: start_facebook_page_giveaway_path(giveaway.facebook_page, giveaway) do |f|

  #giveaway_end_date.date-container{ 'data-date' => f.object.end_date && f.object.end_date.in_time_zone }
    = f.input :end_date, as: :string, input_html: { value: f.object.end_date && f.object.end_date.in_time_zone, class: 'datetime-picker-input modal-pickadate', 'data-date-type' => 'end', id: 'start_giveaway_end_date' }, wrapper_html: { class: 'field date' }, label: 'End Date/Time'
    %input.date-trigger.hide{type: "text", value: "#{f.object.end_date && f.object.end_date.to_formatted_s(:date)}"}/
    %input.time-trigger.hide{type: "text", value: "#{f.object.end_date && f.object.end_date.to_formatted_s(:time)}"}/
    .pickadate-outlet

  = f.input :custom_fb_tab_name, label: 'Custom Tab Name', input_html: { placeholder: 'Custom Tab Name', id: 'start_giveaway_tab_name' }, required: false
