- if page.audits.any? && flot[:page_likes]

  .graphs
    = stylesheet_link_tag :graph

    = render 'giveaways/active/graphs/performance_lines', giveaway: giveaway
    = render 'giveaways/active/graphs/conversion_pies', giveaway: giveaway
    = render 'giveaways/active/graphs/virality_pies', giveaway: giveaway

    :javascript
      SG.Graphs.pageLikes = #{flot[:page_likes]};
      SG.Graphs.netLikes = #{flot[:net_likes]};
      SG.Graphs.shares = #{flot[:shares]};
      SG.Graphs.entries = #{flot[:entries]};
      SG.Graphs.views = #{flot[:views]};

