- if message.is_a?(Hash)
  - title = message['title'].try(:titleize)
  - message = message['content']
- else
  - title = "#{level}".try(:titleize)

%li.rails-flash.messenger-message-slot.animated.fadeInUp
  .messenger-message.message{class: "message-#{level} alert-#{level}"}
    .messenger-message-inner
      %span.message-icon
        %i.fa.fa-bell-o.time-icon{class: "bg-#{level}"}
      .message-text
        - unless "#{title}".blank?
          %h4= "#{title}".html_safe
        - unless "#{message}".blank?
          %p= message.html_safe
      %button.messenger-close{type: "button"} ×
    .messenger-spinner
      %span.messenger-spinner-side.messenger-spinner-side-left
        %span.messenger-spinner-fill
      %span.messenger-spinner-side.messenger-spinner-side-right
        %span.messenger-spinner-fill
