- if message.is_a?(Hash)
  - title = message[:title].titleize
  - message = message[:content]
- else
  - title = "#{level}".titleize

%li.rails-flash.messenger-message-slot.animated.fadeInUp
  .messenger-message.message{class: "message-#{level} alert-#{level}"}
    .messenger-message-inner
      %span.message-icon
        %i.fa.fa-bell-o.time-icon{class: "bg-#{level}"}
      .message-text
        %h4= "#{title}".html_safe
        %p= message
      %button.messenger-close{type: "button"} ×
    .messenger-spinner
      %span.messenger-spinner-side.messenger-spinner-side-left
        %span.messenger-spinner-fill
      %span.messenger-spinner-side.messenger-spinner-side-right
        %span.messenger-spinner-fill
