- if @page
  %script{type: 'text/javascript'}
    :plain
      (function() {
        _SG.CurrentPage.ID = '#{@page.id}';
        _SG.Paths.facebookPage = '#{facebook_page_path(@page)}';
        _SG.Paths.giveaways = '#{facebook_page_giveaways_path(@page)}';
        _SG.Paths.checkSchedule = '#{check_schedule_facebook_page_giveaways_path(@page)}';
        _SG.Paths.subscriptionPlans = '#{facebook_page_subscription_plans_path(@page)}';
        _SG.Paths.pageSubscribe = '#{facebook_page_subscribe_path(@page)}';
      }());

  - if @page.has_active_subscription?
    %script{type: 'text/javascript'}
      :plain
        (function() {
          _SG.CurrentPage.isSubscribed = true;
        }());

- if @giveaway
  %script{type: 'text/javascript'}
    :plain
      (function() {
        _SG.CurrentGiveaway.ID = '#{@giveaway.id}';
        _SG.CurrentGiveaway.status = '#{@giveaway.status}';
      }());

  - if @giveaway.persisted?
    %script{type: 'text/javascript'}
      :plain
        (function() {
          _SG.Paths.giveawayEntries = '#{facebook_page_giveaway_entries_path(@giveaway.facebook_page, @giveaway)}';
        }());

- if current_user && current_user.fb_uid
  %script{type: 'text/javascript'}
    :plain
      (function() {
        _SG.CurrentUser.name = '#{current_user.name}';
        _SG.CurrentUser.FB_UID = '#{current_user.fb_uid}';
        _SG.CurrentUser.email = '#{current_user.email}';
        _SG.Paths.userPages = '#{facebook_pages_path}';
        _SG.Paths.userSubscribe = '#{user_subscribe_path(current_user)}';
        _SG.CurrentUser.justSubscribed = '#{session.delete(:just_subscribed)}';
      }());

- if session[:proposed_end_date]
  %script{type: 'text/javascript'}
    :plain
      (function() {
        _SG.CurrentGiveaway.proposedEndDate = '#{session[:proposed_end_date]}';
      }());

- if session[:proposed_tab_name]
  %script{type: 'text/javascript'}
    :plain
      (function() {
        _SG.CurrentGiveaway.proposedTabName = '#{session[:proposed_tab_name]}';
      }());

%script{type: 'text/javascript'}
  :plain
    (function() {
      deepFreeze(_SG);
    }());
