= render 'shared/flash', flash: flash
%header#header.navbar.navbar-fixed-top.bg-white.box-shadow.b-b.b-light
  .container
    .navbar-header
      %a.navbar-brand{href: root_url}
        = image_tag 'notebook-logo.png', class: 'm-r-sm'
        %span.text-muted Giveaway Kit
      %button.btn.btn-link.visible-xs{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %i.fa.fa-bars
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Home', root_path
        %li= link_to 'Features', features_path
        %li= link_to 'Plans & Pricing', subscription_plans_path
        %li
          .m-t-sm
            = link_to 'Sign In With Facebook', '/auth/facebook', class: 'btn btn-sm btn-dark m-l'