- content_for :page_heading do
  = render 'facebook_pages/header'

.panel.panel-default
  .panel-heading
    %h3.panel-title Pending Giveaways

  - if @page.giveaways.pending.any?

    - if @page.giveaways.active.any?

      .panel-body.panel-body-callout

        - callout type: 'info', title: "There is an active giveaway on your page right now." do
          %p You can publish a pending giveaway once your active giveaway has ended.

    - else

      .panel-body.panel-body-callout

        - callout type: 'info', title: "There is no active giveaway on your page right now." do
          %p Go ahead and publish one.

    #start_date_popover_container.popover-container
    = render 'facebook_pages/giveaways', giveaways: @giveaways

    .panel-footer.paging-footer.text-center
      = will_paginate @giveaways, renderer: BootstrapPagination::Rails
      .text-center.paging-info
        = pagination_info @giveaways, model: "#{'giveaway'.pluralize(@giveaways.size)}"

    #start_giveaway_modal.modal.fade

  - else

    .panel-body.panel-body-callout.text-center-xs

      - callout type: 'info', title: "There are no pending giveaways." do
        %p Create a new giveaway to publish later.
        = link_to '<i class="fa fa-plus m-r-xs"></i>New Giveaway'.html_safe, new_facebook_page_giveaway_path(@page), class: 'btn btn-primary m-t-sm-xs'
