%section.preferences.panel.panel-default
  .panel-heading
    %h3.panel-title Preferences
  %ul.list-group
    %li.list-group-item.editable-parent{class: "bool-#{to_bool(giveaway.email_required)}"}
      .m-b-xs.editable-trigger
        %span.editable-label
          Auth Required for Entry?
          %span.editable-error
        %a.pull-right{href: "#"}
          %i.fa.fa-pencil
      = editable giveaway, :email_required, url: facebook_page_giveaway_path(giveaway.facebook_page, giveaway), value: to_bool(giveaway.email_required), source: {"0" => "False", "1" => "True"}, classes: { "1" => 'label bg-primary', "0" => 'label bg-danger' }
    %li.list-group-item.editable-parent{class: "bool-#{to_bool(giveaway.autoshow_share_dialog)}"}
      .m-b-xs.editable-trigger
        %span.editable-label
          Autoshow Share Dialog?
          %span.editable-error
        %a.pull-right{href: "#"}
          %i.fa.fa-pencil
      = editable giveaway, :autoshow_share_dialog, url: facebook_page_giveaway_path(giveaway.facebook_page, giveaway), value: to_bool(giveaway.autoshow_share_dialog), source: {"0" => "False", "1" => "True"}, classes: { "1" => 'label bg-primary', "0" => 'label bg-danger' }
    %li.list-group-item.editable-parent{class: "bool-#{to_bool(giveaway.allow_multi_entries)}"}
      .m-b-xs.editable-trigger
        %span.editable-label
          Allow Multiple Entries?
          %span.editable-error
        %a.pull-right{href: "#"}
          %i.fa.fa-pencil
      = editable giveaway, :allow_multi_entries, url: facebook_page_giveaway_path(giveaway.facebook_page, giveaway), value: to_bool(giveaway.allow_multi_entries), source: {"0" => "False", "1" => "True"}, classes: { "1" => 'label bg-primary', "0" => 'label bg-danger' }
    %li.list-group-item.editable-parent
      .m-b-xs.editable-trigger
        %span.editable-label
          Bonus Entry Value
          %span.editable-error
        %a.pull-right{href: "#"}
          %i.fa.fa-pencil
      = editable giveaway, :bonus_value, url: facebook_page_giveaway_path(giveaway.facebook_page, giveaway)
