- size_class ||= 'btn-lg'

- if giveaway.pending?

  = link_to '<i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit'.html_safe, edit_facebook_page_giveaway_path(giveaway.facebook_page, giveaway), id: 'edit_giveaway', class: "btn #{size_class} btn-default"
  = link_to '<i class="fa fa-bolt"></i>&nbsp;&nbsp;Start'.html_safe, start_modal_facebook_page_giveaway_path(giveaway.facebook_page, giveaway), id: 'start_giveaway', class: "btn #{size_class} btn-primary", 'data-toggle' => 'modal', 'data-target' => '#start_giveaway_modal'

- elsif giveaway.completed?

  = link_to "<i class='fa fa-copy'></i>&nbsp;&nbsp;Clone".html_safe, clone_facebook_page_giveaway_path(giveaway.facebook_page, giveaway), class: "btn #{size_class} btn-default"
