!!!
%html{lang: "en", class: "app"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "#{FB_APP_ID}", property: "fb:app_id"}
    %title Giveaway Kit

    %meta{content: "Easily create, deploy, and manage giveaways on your Facebook pages.", name: "description"}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}

    = google_analytics_tracking_javascript

    /[if lt IE 9]
      = javascript_include_tag :ie, 'data-turbolinks-track' => true

    - if signed_in? && controller.controller_name == 'subscription_plans'
      = javascript_include_tag "https://checkout.stripe.com/checkout.js", 'data-turbolinks-track' => false

    = javascript_include_tag :application, 'data-turbolinks-track' => true

    = stylesheet_link_tag :application, media: 'all', 'data-turbolinks-track' => true

    = csrf_meta_tags

  %body
    = include_gon(init: true, namespace: '_SG', need_type: true)
    = render 'shared/flash', flash: flash
    = render 'shared/init_breadcrumbs'
    %section.vbox
      = render 'layouts/header'
      %section
        %section.hbox.stretch
          = render 'layouts/sidebar'
          = render 'layouts/content'
          %aside#notes.bg-light.lter.b-l.aside-md.hide
            .wrapper Notification

    #hover_popover_container.popover-container
    #modal_pickadate_outlet
    #spinner_target

    .hide.preload-images
      = image_tag 'check.png'
      = image_tag 'cross.png'

    %noscript= utm_tag
