!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "#{FB_APP_ID}", property: "fb:app_id"}
    %title= @giveaway.title
    = google_analytics_tracking_javascript
    %meta{content: @giveaway.description, name: "description"}/
    %meta{property: "og:description", content: "#{@giveaway.description}"}
    %meta{content: @page.name, name: "title"}
    %meta{property: "og:title", content: "#{@page.name}"}
    %meta{content: @giveaway.feed_image.feed.url.gsub('https://', 'http://'), name: "image"}
    %meta{property: "og:image", content: "#{@giveaway.feed_image.feed.url.gsub('https://', 'http://')}"}
    = stylesheet_link_tag :tab
    /[if lt IE 9]
      = javascript_include_tag :ie, 'data-turbolinks-track' => true
    = javascript_include_tag :tab
    = csrf_meta_tags
  %body
    #tab_container
      = yield

    %noscript= utm_tag
