!!!
%html{lang: "en", class: "app"}
  %head
    %meta{charset: "utf-8"}
    %title Giveaway Kit

    %meta{content: "Easily create, deploy, and manage giveaways on your Facebook pages.", name: "description"}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}

    = google_analytics_tracking_javascript

    /[if lt IE 9]
      = javascript_include_tag :ie, 'data-turbolinks-track' => true

    = stylesheet_link_tag :application, media: 'all'

    = csrf_meta_tags

  %body
    %section#content
      .row.m-n
        .col-sm-4.col-sm-offset-4
          .text-center.m-b-lg.error-container
            = yield
          .list-group.m-b-sm.bg-white.m-b-lg
            %a.list-group-item{href: root_url}
              %i.fa.fa-chevron-right.icon-muted
              %i.fa.fa-fw.fa-home.icon-muted
              Home
            %a.list-group-item{href: "#"}
              %i.fa.fa-chevron-right.icon-muted
              %i.fa.fa-fw.fa-question.icon-muted
              Send us a tip
            %a.list-group-item{href: "#"}
              %i.fa.fa-chevron-right.icon-muted
              %span.badge 021-215-584
              %i.fa.fa-fw.fa-phone.icon-muted
              Call us
    = render 'layouts/footer'

    %noscript= utm_tag
