!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "#{FB_APP_ID}", property: "fb:app_id"}
    %title= @giveaway_hash.giveaway.title
    = google_analytics_tracking_javascript
    %meta{property: "og:type", content: "website"}
    %meta{content: @giveaway_hash.giveaway.feed_image_url.gsub('https://', 'http://'), name: "image"}
    %meta{property: "og:image", content: "#{@giveaway_hash.giveaway.feed_image_url.gsub('https://', 'http://')}"}
    %meta{content: @giveaway_hash.current_page.name, name: "title"}
    %meta{property: "og:title", content: "#{@giveaway_hash.current_page.name}"}
    %meta{content: @giveaway_hash.giveaway.description, name: "description"}/
    %meta{property: "og:description", content: "#{@giveaway_hash.giveaway.description}"}
    %meta{property: "og:url", content: "#{@giveaway_hash.giveaway.giveaway_url}"}
    %link{rel: 'canonical', href: "#{@giveaway_hash.giveaway.giveaway_url}"}

    /[if lt IE 9]
      = javascript_include_tag "//html5shim.googlecode.com/svn/trunk/html5.js"

    = stylesheet_link_tag "//#{SG_SSL_DOMAIN}/assets/tab.css"

    = csrf_meta_tags

  %body
    = include_gon(init: true, namespace: '_SG', need_type: true)
    = javascript_include_tag "//#{SG_SSL_DOMAIN}/assets/tab.js"
    #tab_container
      = yield

    %noscript= utm_tag
