!!!
%html{lang: "en", style: "height: 100%; overflow: hidden"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "#{FB_APP_ID}", property: "fb:app_id"}
    %title= @giveaway_hash.giveaway.title

    /[if lt IE 9]
      = javascript_include_tag :ie

    = stylesheet_link_tag :tab, media: 'all'

    = csrf_meta_tags

  %body{style: "height: 100%"}
    = include_gon(init: true, namespace: '_SG', need_type: true)
    = javascript_include_tag :tab
    #tab_container{class: "gk-#{@giveaway_hash.giveaway.dominant_color_lightness}", style: "height: 100%; background-color: #{@giveaway_hash.giveaway.dominant_color}"}
      = yield
