!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "#{FB_APP_ID}", property: "fb:app_id"}
    %title Giveaway Kit
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{content: "Easily create, deploy, and manage giveaways on your Facebook pages.", name: "description"}

    = google_analytics_tracking_javascript

    /[if lt IE 9]
      = javascript_include_tag :ie

    = stylesheet_link_tag :welcome, media: 'all'

    = csrf_meta_tags

  %body.welcome
    %header#header.navbar.navbar-fixed-top.bg-white.box-shadow.b-b.b-light{"data-offset-top" => "1", "data-spy" => "affix"}
      .container
        .navbar-header
          %a.navbar-brand{href: root_url}
            = image_tag 'notebook-logo.png', class: 'm-r-sm'
            %span.text-muted Notebook
          %button.btn.btn-link.visible-xs{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %i.fa.fa-bars
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li= link_to 'Home', root_path
            %li
              %a{href: "features.html"} Features
            %li= link_to 'Plans & Pricing', subscription_plans_path
            %li
              .m-t-sm
                %a.btn.btn-link.btn-sm{href: "signin.html"} Sign in
                %a.btn.btn-sm.btn-success.m-l{href: "signup.html"}
                  %strong Sign up
    = yield