!!!
%html{lang: "en", class: "app"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "#{FB_APP_ID}", property: "fb:app_id"}
    %title Giveaway Kit

    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{content: "Easily create, deploy, and manage giveaways on your Facebook pages.", name: "description"}

    = google_analytics_tracking_javascript

    /[if lt IE 9]
      = javascript_include_tag :ie, 'data-turbolinks-track' => true

    = javascript_include_tag :jquery
    = javascript_include_tag :sg

    = stylesheet_link_tag :welcome, media: 'all'

    = csrf_meta_tags

  %body.welcome
    = include_gon(init: true, namespace: '_SG', need_type: true)

    #fb-root.logged-out

    = render 'shared/flash', flash: flash

    .container-narrow
      = yield

    = javascript_include_tag :welcome

    %noscript= utm_tag
